{
	"singleQuote": false,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"singleAttributePerLine": true,
	"bracketSameLine": false,
	"printWidth": 100
}
